.overlay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal {
  width: 800px;
  height: 600px;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
